@namespace BlazorVideo
@inherits BlazorVideoComponentBase

<style type="text/css">

    .video-item-@(Id + ConnectionId) {
        line-height: 14px;
    }

    .video-item-@(Id + ConnectionId) .video-item-devices {
        display: none;
    }

    .video-item-resize-container-@(Id + ConnectionId) {
        resize: both;
        overflow: hidden;
        background-color: @BackgroundColor;
    }

    @@media (max-width: 767px) {
        .video-item-resize-container-@(Id + ConnectionId) {
            width: 100%;
            min-height: 100px;
        }
    }

    .video-item-resize-container:hover .video-ellipsis {
        display: initial;
    }

    .video-item-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        z-index: 1;
        display: initial;
    }

</style>

<div class="video-item-@(Id + ConnectionId) p-0 p-sm-0 p-md-1 w-100 h-100">

    @{ 
        var maps = BlazorVideoService.BlazorVideoMaps.Where(item => item.Value.Id == Id && item.Value.ConnectionId == ConnectionId).ToList();
        if(maps.Any())
        {
            this.IsVideoOverlay = maps.FirstOrDefault().Value.VideoOverlay;
        }
    }

    @if (Type == BlazorVideoType.LocalLivestream)
    {
        if (!IsVideoOverlay)
        {
            <style type="text/css">
                .video-item-@(Id + ConnectionId):hover .video-item-devices {
                    display: block;
                }
            </style>
        }

        <div class="text-danger p-1 badge bg-white position-absolute" style="z-index: 1; top: 10px; left: 10px;">@Viewers <span class="oi oi-camera-slr"></span></div>
        if (!IsVideoOverlay)
        {
            <button type="button" class="text-danger p-1 badge bg-white position-absolute" style="z-index: 1; top: 34px; left: 10px;" @onclick="async () => await BlazorVideoService.StopVideoChat(Id, ConnectionId)"><span class="oi oi-media-pause"></span><span class="video-item-ellipsis"> [loc.] @Name</span></button>
        }

        <div class="video-item-resize-container-@(Id + ConnectionId) position-relative w-100 h-100">

            <div class="align-items-center justify-content-center px-3 position-absolute w-100 h-100 @(IsVideoOverlay == true ? "d-flex" : "d-none")" style="z-index: 1;">
                <button class="btn btn-lg btn-link text-white bg-dark p-sm-2" type="button" @onclick="async () => await BlazorVideoService.StartVideoChat(Id, ConnectionId)">

                    ▷ @Name

                </button>
            </div>

            <div class="w-100 h-100" style="@(IsVideoOverlay == true ? "visibility: hidden; opacity: 0;" : "opacity: 1;") transition: opacity linear 1s; transition-delay: 1s;">

                <video id="local-livestream-element-id-@(Id + ConnectionId)" class="video-item-element mb-0 w-100 h-100" controls></video>

                <div class="position-absolute video-item-devices bg-white p-1" style="z-index: 2; top: 0px; right: 0px;">
                    <div class="input-group" style="padding: 0.125rem 0.25rem 0.1rem 0.25rem">
                        <select id="local-livestream-micro-source-@(Id + ConnectionId)" class="border-0 custom-select custom-select-sm" style="width: 120px !important;"></select>
                    </div>
                    <div class="input-group" style="padding: 0.125rem 0.25rem 0.1rem 0.25rem">
                        <select id="local-livestream-audio-source-@(Id + ConnectionId)" class="border-0 custom-select custom-select-sm" style="width: 120px !important;"></select>
                    </div>
                    <div class="input-group" style="padding: 0.125rem 0.25rem 0.1rem 0.25rem">
                        <select id="local-livestream-video-source-@(Id + ConnectionId)" class="border-0 custom-select custom-select-sm" style="width: 120px !important;"></select>
                    </div>
                </div>
            </div>
            
        </div>
    }

    @if (Type == BlazorVideoType.RemoteLivestream)
    {

        <div class="text-danger p-1 badge bg-white position-absolute" style="z-index: 1; top: 10px; left: 10px;">@Viewers <span class="oi oi-camera-slr"></span></div>
        if (!IsVideoOverlay)
        {
            <button type="button" class="text-danger p-1 badge bg-white position-absolute" style="z-index: 1; top: 34px; left: 10px;" @onclick="async () => await BlazorVideoService.StopVideoChat(Id, ConnectionId)"><span class="oi oi-media-pause"></span><span class="video-item-ellipsis"> [rem.] @Name</span></button>
        }

        <div class="video-item-resize-container-@(Id + ConnectionId) position-relative w-100 h-100">

            <div class="align-items-center justify-content-center px-3 position-absolute w-100 h-100 @(IsVideoOverlay == true ? "d-flex" : "d-none")" style="z-index: 1;">
                <button class="btn btn-lg btn-link text-white bg-dark p-sm-2" type="button" @onclick="async () => await BlazorVideoService.StartVideoChat(Id, ConnectionId)">

                    @if (Status == BlazorVideoStatusType.Live)
                    {
                        <span class="oi oi-media-play text-danger"></span> @Name
                    }
                    @if (Status == BlazorVideoStatusType.Offline)
                    {
                        <span class="oi oi-media-pause text-info"></span> @Name
                    }

                </button>
            </div>

            <div class="w-100 h-100" style="@(IsVideoOverlay == true ? "visibility: hidden; opacity: 0;" : "opacity: 1;") transition: opacity linear 1s; transition-delay: 1s;">

                <video id="remote-livestream-element-id-@(Id + ConnectionId)" class="remote-livestream video-item-element mb-0 w-100 h-100" controls></video>

            </div>

        </div>
    }

</div>

@code {

}
